<h1><%= @instructor.name %></h1>
<d1>
  <dt><%= Instructor.human_attribute_name(:name)%></dt>
  <dd><%= @instructor.bio %></dd>
  <dt><%= Instructor.human_attribute_name(:email)%></dt>
  <dd><%= @instructor.email %></dd>
  <dt><%= Instructor.human_attribute_name(:profile_picture) %></dt>
  <dd><%= image_tag(@instructor.profile_picture) %></dd>
</d1>

<%= button_to 'Editar', edit_instructor_path(@instructor), method: :get %>
<%= link_to 'Voltar', instructors_path %>
