<%= form_with model: course do |f| %>
  <%= render "shared/error_messages", resource: course %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%# course.errors.full_messages_for(:name).each do |message| %>
      <!-- <div><%#= message %></div> -->
    <%# end %>
  </div>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :code%>
  <%= f.text_field :code %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.label :enrollment_deadline %>
  <%= f.date_field :enrollment_deadline %>

  <%= f.submit %>

<% end %>