<h1><%= @course.name %></h1>
<d1>
  <dt><%= Course.human_attribute_name(:description) %></dt>
  <dd><%= @course.description %></dd>
  <dt><%= Course.human_attribute_name(:code)%></dt>
  <dd><%= @course.code %></dd>
  <dt><%=Course.human_attribute_name(:price)%></dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt><%=Course.human_attribute_name(:enrollment_deadline)%></dt>
  <dd><%= l @course.enrollment_deadline %></dd>
  <dt><%=Course.human_attribute_name(:'instructor.name') %></dt>
  <dd><%= @course.instructor.name %></dd>
</d1>

<% if user_signed_in? %>
  <% if current_user.courses.exclude?(@course) %>
    <%= link_to 'Comprar', enroll_course_path, method: :post %>
  <% end %>
<%else%>
  <p> Faça <%= link_to 'login', new_user_session_path %> para comprar este curso</p>
<% end %>

<%= link_to 'Editar', edit_course_path(@course) %>
<%= link_to 'Apagar', @course, method: :delete %>
<%= link_to 'Voltar', courses_path %>
<%= link_to 'Cadastrar aula', new_course_lesson_path(@course) %>

<div id="lessons">
  <% if @course.lessons.blank? %>
    <h3>Nenhuma aula cadastrada</h3>
  <% end %>
  <% @course.lessons.each do |lesson| %>
    <%= link_to lesson.name, lesson%>
    <p><%= t('lesson.duration', count: lesson.duration) %></p>
  <% end %>
</div>